In [1]:
# import libraries
import boto3, os, sagemaker
from sagemaker import get_execution_role
import pandas as pd
from dotenv import load_dotenv
from load_data import load_data



my_region = boto3.session.Session().region_name

sagemaker.config INFO - Not applying SDK defaults from location: /Library/Application Support/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /Users/lanre.bakare/Library/Application Support/sagemaker/config.yaml

In [2]:
load_dotenv(".env")
role = get_execution_role()

model_name = os.getenv("model_name").replace(" ", "").lower()
model_features = [x.strip() for x in os.environ["features"].split(",")]
target = os.getenv("target")
print(model_name, model_features, target)

bucket= os.getenv("bucket")
data_key = os.getenv("key")
data_location = 's3://{}/{}'.format(bucket, data_key)
print(data_location)

sagemaker.config INFO - Not applying SDK defaults from location: /Library/Application Support/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /Users/lanre.bakare/Library/Application Support/sagemaker/config.yaml
randomforestregressor ['Bakerloo', 'dayOfWeek', 'hour', 'minute'] Bakerloo10
s3://streaming-data-platform-ml-data/bakerloo.csv

In [3]:
data = load_data(data_location)
df = data.copy()
df.shape

(7127, 5)

In [4]:
print(df.shape)
# Randomly shuffle the DataFrame
df_shuffled = df.sample(frac=1).reset_index(drop=True)
train_size = int(0.8 * len(df))
train_data = df_shuffled[:train_size]
test_data = df_shuffled[train_size:]
target = os.getenv("target")
print(train_data.shape, test_data.shape)

(7127, 5)
(5701, 5) (1426, 5)

In [5]:
from pycaret.regression import *
s = setup(data = train_data, target = target, session_id=123)

In [6]:
best = compare_models()

In [7]:
# Users are allowed to create their own model if they want to.
# This uses the default hyperparameters to train the model which you can then choose to tune as you want.
# In order to tune hyperparameters, the tune_model function is used
xgboost = create_model('xgboost')

In [8]:
tuned_model = tune_model(xgboost)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [9]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [10]:
predict_model(best)

      Bakerloo  dayOfWeek  hour  minute  Bakerloo10  prediction_label
2676        28          2    17      18        29.0         28.340562
724         21          4    10       2        22.0         21.400840
4595        22          2    20      33        22.0         21.953724
1112        20          5    20      56        22.0         20.763917
4064        30          1     7      19        26.0         27.549349
...        ...        ...   ...     ...         ...               ...
3854        19          6    11      43        19.0         19.483324
4481        21          2    14      19        20.0         21.297148
467         24          0    19      58        23.0         22.984974
3551        27          0     6      10        22.0         23.546255
3459        20          6    13      42        21.0         20.228370

[1711 rows x 6 columns]

In [11]:
final_best_model = finalize_model(best)
print(final_best_model)

Pipeline(memory=Memory(location=None),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Bakerloo', 'dayOfWeek', 'hour',
                                             'minute'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=[],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('actual_estimator',
                 <catboost.core.CatBoostRegressor object at 0x2a2931cf0>)])

In [12]:
final_prediction = predict_model(final_best_model, data=test_data)
final_prediction.head()

      Bakerloo  dayOfWeek  hour  minute  Bakerloo10  prediction_label
5701        24          1    11      27        22.0         23.198145
5702        27          0     7       3        28.0         27.787597
5703        12          5     5       6         9.0          9.187563
5704        18          1    22      51        18.0         18.335765
5705        23          4     9      58        21.0         22.898735

In [13]:
from pycaret.utils.generic import check_metric
check_metric(final_prediction.Bakerloo10, final_prediction.prediction_label, 'RMSE')

0.9754